@import url("https://fonts.googleapis.com/css2?family=Nerko+One&family=Schoolbell&display=swap");
@import "tailwindcss";

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/* enable `.dark` class support */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

*, button {
  cursor: none !important;
}

/* IE / old Edge */
body {
  -ms-overflow-style: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* background: #f4f3f3; */
  font-family: Arial, Helvetica, sans-serif;
}

.font-nerko {
  font-family: "Nerko One", cursive;
}

.font-schoolbell {
  font-family: "Schoolbell", cursive;
}

::selection {
  background: #b32432;
  color: white;
}

.cutout-border {
  filter: drop-shadow(0 0 0 rgb(140, 140, 140))
    drop-shadow(-40 0 0 rgb(140, 140, 140))
    drop-shadow(40 0 0 rgb(140, 140, 140));
}

.cutout-border-dark {
  filter: drop-shadow(0 0 0 rgb(67, 67, 67))
    drop-shadow(-40 0 0 rgb(67, 67, 67)) drop-shadow(40 0 0 rgb(67, 67, 67));
}

.dark\:cutout-border-dark {
  &:where(.dark, .dark *) {
    filter: drop-shadow(0 0 0 rgb(67, 67, 67))
      drop-shadow(-40 0 0 rgb(67, 67, 67)) drop-shadow(40 0 0 rgb(67, 67, 67));
  }
}

.bg-primary {
  background-color: #b32432;
}

.text-primary {
  color: #b32432;
}

.dark\:bg-primary {
  &:where(.dark, .dark *) {
    background-color: #b32432;
  }
}
.dark\:text-primary {
  &:where(.dark, .dark *) {
    color: #b32432;
  }
}
