@import url("https://fonts.googleapis.com/css2?family=Nerko+One&family=Schoolbell&display=swap");
@import "tailwindcss";

/* enable `.dark` class support */
@custom-variant dark (&:where(.dark, .dark *));

body {
  /* background: var(--background);
  color: var(--foreground); */
  background: #f4f3f3;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: "Schoolbell", cursive; */
  /* font-family: "Nerko One", cursive; */
}

.text-primary {
  color: #b32432;
}

.font-nerko {
  font-family: "Nerko One", cursive;
}

.font-schoolbell {
  font-family: "Schoolbell", cursive;
}

::selection {
  background: #b32432;
  color: white;
}

.cutout-border {
  filter: drop-shadow(0 0 0 rgb(140, 140, 140))
    drop-shadow(-40 0 0 rgb(140, 140, 140)) drop-shadow(40 0 0 rgb(140, 140, 140));
}

.bg-primary {
  background-color: #b32432;
}