@import url("https://fonts.googleapis.com/css2?family=Nerko+One&family=Schoolbell&display=swap");
@import "tailwindcss";

/* enable `.dark` class support */
@custom-variant dark (&:where(.dark, .dark *));

body {
  /* background: var(--background);
  color: var(--foreground); */
  background: #f4f3f3;
  /* font-family: "Schoolbell", cursive; */
  font-family: "Nerko One", cursive;
}

.font-primary {
  color: #d62048;
}

::selection {
  background: #d62048;
  color: white;
}

.cutout-border {
  filter:
    drop-shadow(0 0 0 rgb(96, 96, 96))
    drop-shadow(-40 0 0 rgb(96, 96, 96))
    drop-shadow(40 0 0 rgb(96, 96, 96));
}